body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,rgb(25, 25, 87) , rgb(30, 29, 29));
    color: #333;
    text-align: center;
}

header {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(20px);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    img{
        height: 60px;
        display: flex;
        position: relative;
        border-radius: 10px;
        margin: 5px;
    }
}

header input {
    height: 37px;
    width: 50%;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 25px;
    margin-right: 0.5rem;
    border: none;
}

header button {
    height: 37px;
    width: 100px;
    background: linear-gradient(47deg , black , rgb(49, 48, 48));
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

header button:hover {
    background-color: #e64a19;
}

#movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.movie-card {
    background-color: rgba(255, 255, 255, 0.283);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 200px;
    overflow: hidden;
    text-align: left;
    &:hover{
        transition: 0.5s;
        height: 110%;
        width: 235px;
        position: inherit;
        img{
            width: 110%;
        }
    }
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem;
}

.movie-card button {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 37px;
   margin: 10px;
   padding-top: 10px;
   color: white;
   background: linear-gradient(47deg , black , rgb(49, 48, 48));
   border-radius: 10px;
   border: 1px solid white;
   cursor: pointer;
}

.movie-card button:hover {
    background-color: #e64a19;
}
@media screen and (max-width: 550px){
    .movie-card {
        background-color: rgba(255, 255, 255, 0.283);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 1rem;
        width: 120px;
        overflow: hidden;
        text-align: left;
        &:hover{
            transition: 0.5s;
            height: 110%;
            width: 125px;
            position: inherit;
            img{
                width: 110%;
            }
        }
        h3{
            font-size: 13px;
        }
        button{
            height: 30px;
            font-size: 10px;
        }
    }
    header input {
        height: 37px;
        width: 50%;
        font-size: 12px;
        border-radius: 10px;
        padding-left: 25px;
        margin-right: 0.5rem;
        border: none;
        margin-top: 10px;
    }
}
